{% extends 'student/sidebar.html'%}


{% block content %}
<div class="container">
    <h2>Download Resources</h2>

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Resource Title</th>
                <th>Teacher Name</th>
                <th>File Type</th>
                <th>Description</th>
                <th>Uploaded Date</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for resource in resources %}
            <tr>
                <td>{{ resource.resource_id }}</td>
                <td>{{ resource.resource_title }}</td>
                <td>{{ resource.teacher_name.user.name }}</td>
                <td>{{ resource.file_type }}</td>
                <td>{{ resource.description }}</td>
                <td>{{ resource.uploaded_date }}</td>
                <td>
                    <a href="{% url 'downloadresource' resource.id %}" class="btn btn-primary">
                        Download
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

