{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Student Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> LightedtoLighten
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" target="_self">
            <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
		  <li class="sidebar-list-item">
           {% comment %} <a href="{% url 'index1' %}" target="_blank">  {% endcomment %}
              <span class="material-icons-outlined">book</span> Academics
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="" target="_blank">
            <span class="material-icons-outlined">table_view</span> Leave
            </a>
          </li>
		   <li class="sidebar-list-item">
            <a href="" target="_blank">
            <span class="material-icons-outlined">star_half</span> Talent Search
            </a>
          </li>
		   <li class="sidebar-list-item">
            <a href="" target="_blank">
         <span class="material-icons-outlined">calendar_view_month</span> Resources
            </a>
          </li>
		   <li class="sidebar-list-item">
            {% comment %} <a href="{% url 'resource' %}" target="_blank"> {% endcomment %}
            <span class="material-icons-outlined">upload_file</span> Certificate
            </a>
          </li>
		   <li class="sidebar-list-item">
            <a href="" target="_blank">
            <span class="material-icons-outlined">forum</span> Feedback
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
            <span class="material-icons-outlined">campaign</span> Activities
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">fact_check</span> Inventory
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">poll</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
        <main class="main-container">
            {% block content %}{% endblock %}
        </main>
    </div>

<script src="{% static 'js/scripts.js' %} "></script>
</body>
      <!-- End Sidebar -->