
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Student Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
    .header-right {
    display: flex;
    align-items: center;
}

.dropdown-container {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.dropdown-toggle:hover + .dropdown-content-info,
.dropdown-content-info:hover {
    display: block;
}

.dropdown-content-info {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content-info p {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown-content-info p:last-child {
    border-bottom: none;
}

.dropdown-content-info p:hover {
    background-color: #f1f1f1;
}
</style>
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
        <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
        <div class="dropdown-container">
        <span class="material-icons-outlined dropdown-toggle">notifications</span>
        {% if unread_count > 0 %}
        <span class="notification-count">{{ unread_count }}</span>
       {% endif %}
</span>

        <div class="dropdown-content-info">
            {% for notice in latest_notices %}
            <p class="{% if not notice.is_read %}unread{% endif %}">{{ notice.title }}</p>
            {% endfor %}
            <p>Notification 2</p>
            <p>Notification 3</p>
        </div>
        </div>
    
    <div class="dropdown-container">
        <span class="material-icons-outlined dropdown-toggle">email</span>
        <div class="dropdown-content-info">
            <p style="color:black;">{{ request.user.email }}</p>
            
        </div>
    </div>

    <div class="dropdown-container">
        <span class="material-icons-outlined dropdown-toggle">account_circle</span>
        <div class="dropdown-content-info">
             <a href="{% url 'student_acprofile' user.id %}"><p>Profile</p></a>
            <p>Settings</p>
            <a href="{% url 'logout' %}"><p>Logout</p></a>
        </div>
    </div>
         
    
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> LightedtoLighten
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="{% url 'studentdashboard' %}" target="_self">
            <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
        <li class="sidebar-list-item dropdown">
            <span class="dropdown-title">
                 <span class="material-icons-outlined">book</span> Academics
                <span class="material-icons-outlined">expand_more</span>
            </span>
            <div class="dropdown-content" >
                <a href="{% url 'view_own_marks' %}">View My Marks</a>
        </div>
        </li>



         <li class="sidebar-list-item dropdown">
            <span class="dropdown-title">
                <span id="student_leave" class="material-icons-outlined">table_view</span> Attendance
                <span class="material-icons-outlined">expand_more</span>
            </span>
            <div class="dropdown-content" >
                <a href="{% url 'student_leave_view' %}" target="_self">Apply Leave</a>
                <a href="{% url 'view_student_attendance' %}" target="_self">View Attendance</a>
        </div>
        </li>

        <li class="sidebar-list-item dropdown">
            <span class="dropdown-title">
               <span class="material-icons-outlined">star_half</span> Talent Search
                <span class="material-icons-outlined">expand_more</span>
            </span>
            <div class="dropdown-content" >
                <a href="{% url 'talent_programs' %}" target="_self">Register</a>
                {% comment %} <a href="{% url 'registration_details' registration_id %}">View Details</a> {% endcomment %}

               
        </div>
        </li>
		  
		   <li class="sidebar-list-item">
            <a href="{% url 'student_resource' %}" target="_self">
         <span class="material-icons-outlined">calendar_view_month</span> Resources
            </a>
          </li>
		  <li class="sidebar-list-item">
          {% comment %} <a href="{% url 'request_certificate' %}" target="_self"> {% endcomment %}
            <span class="material-icons-outlined">upload_file</span> Certificate
            </a> 
          </li>



          
		   <li class="sidebar-list-item">
            <a href="{% url 'take_exam' exam_schedule_id=exam_schedule.id %}">
            {% comment %} <a href="{% url 'exam_results' submission_id=submission.id %}">View Exam Results</a> {% endcomment %}

            <span class="material-icons-outlined">forum</span>Take Exam</a>
            </a>
          </li>



		   <li class="sidebar-list-item">
      
            <span class="material-icons-outlined">forum</span> Feedback
            </a>
          </li>


          <li class="sidebar-list-item">
            <a href="#" target="_self">
            <span class="material-icons-outlined">campaign</span> Activities
            </a>
          </li>
          
          <li class="sidebar-list-item">
            <a href="#" target="_self">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->



      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>DASHBOARD</h2>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <h3>NOTIFICATIONS</h3>
              <span class="material-icons-outlined">inventory_2</span>
            </div>
            <h1></h1>
          </div>

          <div class="card">
            <div class="card-inner">
             <a href="{% url 'online-classes' %}" style="text-decoration: none; color: inherit;">
              <h3>ONLINE CLASS</h3>
              <span class="material-icons-outlined">category</span>
            </div>
            </a>
            <h1></h1>
          </div>

          <div class="card">
            <div class="card-inner">
             <a href="{% url 'video_chat_students' %}" style="text-decoration: none; color: inherit;">
              <h3>COUNSELLING</h3>
               <span class="material-icons-outlined">campaign</span> 
            </div>
            </a>
            <h1></h1>
          </div>

       <div class="card">
            <div class="card-inner">
           <a href="{% url 'take_exam' exam_schedule_id=exam_schedule.pk %}" style="text-decoration: none; color: inherit;">

              <h3>ONLINE EXAM</h3>
             <span class="material-icons-outlined">person</span> 
            </div>
            <h1></h1>
          </div> 

        </div>
          <div class="main-notices">
          <h2>Recent Notices</h2>
    <ul>
        {% for notice in notices %}
            <li>
                {{ notice.date_created|date:"F d, Y" }}: {{ notice.Message }}
            </li>
        {% endfor %}
    </ul>
</div>

        <div class="charts">

          {% comment %} <div class="charts-card">
            <h2 class="chart-title">Top 5 Products</h2>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <h2 class="chart-title">Purchase and Sales Orders</h2>
            <div id="area-chart"></div>
          </div> {% endcomment %}

        </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/scripts.js' %} "></script>
  </body>
</html>