<!-- templates/teacher/scheduled_classes.html -->
{% extends 'teacher/base.html' %}

{% block content %}
  <div class="container">
    <h2 style="color: white;">Scheduled Classes</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        {% if scheduled_classes %}
          <thead class="thead-dark">
            <tr>
              <th style="color: white;">Enrolled Class</th>
              <th style="color: white;">Teacher</th>
              <th style="color: white;">Date</th>
              <th style="color: white;">Time</th>
              <th style="color: white;">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for scheduled_class in scheduled_classes %}
              <tr>
                <td style="color: white;">{{ scheduled_class.enrolled_class.class_name }}</td>
                <td style="color: white;">{{ scheduled_class.teacher.name }}</td>
                <td style="color: white;">{{ scheduled_class.date }}</td>
                <td style="color: white;">{{ scheduled_class.time }}</td>
                <td><a href="{{ scheduled_class.platform_link }}" class="btn btn-primary" style="font-size: 16px;" target="_blank">Join Class</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="alert alert-warning" role="alert">
          No Classes for Today. <strong style="color: white;">Stay tuned for upcoming classes!</strong>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
