{% extends 'hod/base_class.html' %}

{% block content %}
<div class="container">

     <table class="table table-striped">
        <thead>
            <tr>
                <th>Resource Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
{% for resource in student_resources %}
            <tr>
                <td>{{ resource.resource_title }}</td>
                <td>{{ resource.description }}</td>
                <td>
                    <a href="{% url 'downloadresource' resource.id %}" class="btn btn-primary">
        Download </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
