{% extends 'parent/sidebar.html' %}

{% block content %}
<div class="container">

    <div class="table-responsive">
        <table class="table" style="color: #FFFFFF; font-size: 16px; ">
            <thead class="thead-dark "style="color: #000000;">
                <tr>
                    <th>Resource Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in student_resources %}
                <tr>
                    <td>{{ resource.resource_title }}</td>
                    <td>{{ resource.description }}</td>
                    <td>
                        <a href="{% url 'downloadresource' resource.id %}" class="btn btn-primary btn-sm">
                            Download
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
