{% extends 'student/sidebar.html' %}

{% block content %}
  <div class="container">
    <h2>Talent Search Programs</h2>

    {% for program in programs %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">{{ program.name }}</h5>
          <p class="card-text" style="color: black;">{{ program.description }}</p>  <!-- Change font color to black -->

          {% if program in registrations %}
            <p class="text-success" style="color: black;">Registered</p>  <!-- Change font color to black -->
          {% else %}
            {% if program.id in existing_registration_ids %}
              <p class="text-warning" style="color: black;">You are already registered for this program!</p>  <!-- Change font color to black -->
            {% else %}
              <form method="post" action="{% url 'talent_programs' %}">
                {% csrf_token %}
                <input type="hidden" name="program_id" value="{{ program.id }}">
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
