{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
    {% for messages in messages %}
    <p style="color:red">{{ messages }}</p>
    {% endfor %}
      <form action="" method="POST">
         {% csrf_token %}
        <div class="title">
        <img src="{% static 'image/logo.png'%}" width="330" height="65"></div>


        <div class="input-box underline">
          <input id="username" name="username" type="text" placeholder="Enter Your Email" required />
          <div class="underline"></div>
          <div id="emailError" style="color:red;"></div>
        </div>

        <div class="input-box">
          <input id="password" name="password" type="password" placeholder="Enter Your Password" required />
          <i class="fas fa-eye" id="togglePassword"></i> <!-- Eye icon -->
          <div class="underline"></div>
        </div>

        <div class="input-box button">
          <input id="submit" type="submit" name="" value="Submit" />
        </div>
      </form>
      <form action="{% url 'password_reset' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <a href="{% url 'password_reset' %}" class="forget-password">forgot password?</a>
      </div>
      </form>
      <div class="singup-link">
      </div>
    </div>

    <script>
      const passwordField = document.getElementById('password');
      const togglePassword = document.getElementById('togglePassword');

      togglePassword.addEventListener('click', function () {
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
      });
    </script>
    <style>
      /* Add this style to hide the eye icon by default */
      #togglePassword {
        display: none;
      }
      
      .input-box:hover #togglePassword {
        display: block;
      }
    </style>
  </body>
</html>
{% endblock %}
