{% extends 'hod/base_class.html' %}
{% load static %}
{% block content %}
  <div class="card">
    <div class="card-header">Student Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm">
        <div class="academic_info">
          <div class="card">
            <div class="card-header">Academic Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ academic_info_form.as_p }}
            </div>
          </div>
          {% comment %} <button id="academic_info_btn" type="button" class="btn btn-primary pull-right">Next</button> {% endcomment %}
        </div>


        

        <div class="guardian_info">
          <div class="card">
            <div class="card-header">Guardian Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ guardian_info_form.as_p }}
            </div>
          </div>
          {% comment %} <button id="guardian_info_prev_btn" type="button" class="btn btn-primary pull-left">Previous</button> {% endcomment %}
          {% comment %} <button id="guardian_info_btn" type="button" class="btn btn-primary pull-right">Next</button> {% endcomment %}
        </div>

        <div class="personal_info">
          <div class="card">
            <div class="card-header">Personal Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ personal_info_form.as_p }}
            </div>
          </div>
          {% comment %} <button id="personal_info_prev_btn" type="button" class="btn btn-primary pull-left">Previous</button> {% endcomment %}
           {% comment %} <button id="submit" type="submit" class="btn btn-primary pull-right">Submit</button>
          <button id="personal_info_btn" type="button" class="btn btn-primary pull-right">Next</button> {% endcomment %}
        </div>

  

        <div class="previous_academic_info">
          <div class="card">
            <div class="card-header">Previous Academic Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ previous_academic_info_form.as_p }}
            </div>
          </div>
          {% comment %} <button id="previous_academic_info_prev_btn" type="button" class="btn btn-primary pull-left">Previous</button>
          <button id="previous_academic_info_btn" type="button" class="btn btn-primary pull-right">Next</button> {% endcomment %}
        </div>

        <div class="previous_academic_certificate">
          <div class="card">
            <div class="card-header">Previous Academic Certificate</div>
            <div class="card-body">
              {% csrf_token %}
              {{ previous_academic_certificate_form.as_p }}
            </div>
          </div>
          {% comment %} <button id="previous_academic_certificate_prev_btn" type="button" class="btn btn-primary pull-left">Previous</button> {% endcomment %}
          <!-- <button id="" type="button" class="btn btn-primary pull-right">Next</button> -->
          <button id="submit" type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>

      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'js/registration.js' %}"></script>
    </div>
  </div>
{% endblock %}
