
<!DOCTYPE html>
<html lang="en">

{% load static %}
<!--Headers-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="">
    <title>{% block title %}{% endblock %}</title>

    <!-- Icons -->
    <link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="{% static 'css/style_class.css' %}" rel="stylesheet">
    <link href="{% static 'css/form.css' %}" rel="stylesheet">

    {% block extrahead %}
    {% endblock %}
</head>

<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'					- Fixed Header

// Brand options
1. '.brand-minimized'       - Minimized brand (Only symbol)

// Sidebar options
1. '.sidebar-fixed'					- Fixed Sidebar
2. '.sidebar-hidden'				- Hidden Sidebar
3. '.sidebar-off-canvas'		- Off Canvas Sidebar
4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
5. '.sidebar-compact'			  - Compact Sidebar

// Aside options
1. '.aside-menu-fixed'			- Fixed Aside Menu
2. '.aside-menu-hidden'			- Hidden Aside Menu
3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

// Breadcrumb options
1. '.breadcrumb-fixed'			- Fixed Breadcrumb

// Footer options
1. '.footer-fixed'					- Fixed footer

-->
</header>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<!--Navbar-->


<!--Navbar-->
{% include 'hod/navbar.html' %}

<div class="app-body">
    <!--Sidebar-->
    {% include 'hod/sidebar.html' %}
    <!-- Main content -->
    <main class="main">

    
</ol>
        <!-- Page contents -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>

    </div>
</aside>
</div>

<!--Footer-->


<!--JS-->
<!-- Bootstrap and necessary plugins -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/pace.min.js' %}"></script>

<!-- Plugins and scripts required by all views -->
<!--Chart JS is commented out due to console errors-->
<!--<script src="{% static 'dist/vendors/js/Chart.min.js' %}"></script>-->

<!-- CoreUI main scripts -->

<script src="{% static 'js/app.js' %}"></script>

<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script src="{% static 'dist/js/views/main.js' %}"></script>
<script src="{% static 'src/js/attendance.js' %}"></script>

{% block script %}

{% endblock %}
</body>
</html>



