
<!DOCTYPE html>
<html lang="en">

{% load static %}
<!--Headers-->
<head>
    <link href="{% static 'css/style_class.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'css/form.css' %}" rel="stylesheet"> {% endcomment %}


</head>
</header>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<!--Navbar-->


<!--Navbar-->
{% comment %} {% include 'hod/navbar.html' %} {% endcomment %}

<div class="app-body">
    <!--Sidebar-->
    {% include 'hod/sidebar.html' %}
    <!-- Main content -->
    <main class="main">

    
</ol>
        <!-- Page contents -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>

    </div>
</aside>
</div>

<!--Footer-->


<!--JS-->
 
<!-- Bootstrap and necessary plugins -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/pace.min.js' %}"></script>

<!-- Plugins and scripts required by all views -->
<!--Chart JS is commented out due to console errors-->
<!--<script src="{% static 'dist/vendors/js/Chart.min.js' %}"></script>-->

<!-- CoreUI main scripts -->

<script src="{% static 'js/app.js' %}"></script>

<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script src="{% static 'dist/js/views/main.js' %}"></script>
<script src="{% static 'src/js/attendance.js' %}"></script>
{% comment %} <script src="{% static 'js/validation.js' %}"></script> {% endcomment %}


{% comment %} {% block script %}

{% endblock %} {% endcomment %}
</body>
</html>



