{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Hod Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <a href="{% url 'profile' %}"><span class="material-icons-outlined">account_circle</span><a/>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
 <aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> LightedtoLighten
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a href="{% url '' }" target="_self">
                <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
        </li>
        
        <li class="sidebar-list-item dropdown">
            <span class="dropdown-title">
                <span class="material-icons-outlined">class</span> Teachers 
                <span class="material-icons-outlined">expand_more</span>
            </span>
            <div class="dropdown-content">
                <a href="{% url 'designation' %}">Add Designation</a>
                <a href="{% url 'teacher-registration' %}" target="_blank">Teacher registration</a>
                <a href="{% url 'teacher-list' %}" target="_blank">Teacher List</a>
                <a href="{% url 'designation' %}" target="_blank">Add designation</a>

            </div>
        </li>
         <li class="sidebar-list-item dropdown">
            <span class="dropdown-title">
                <span class="material-icons-outlined">class</span> Class 
                <span class="material-icons-outlined">expand_more</span>
            </span>
            <div class="dropdown-content">
                <a href="{% url 'add_class' %}" target="_blank">Add Class </a>
                <a href="{% url 'create-section' %}" target="_blank">Add Class Section</a>
                <a href="{% url 'guide-teacher' %}" target="_blank">Teachers Allotment</a>
                <a href="{% url 'create-session' %}" target="_blank">Add Session</a>
                <a href="{% url 'class-registration' %}" target="_blank">Register Class</a>
                <a href="{% url 'class-list' %}" target="_blank">Class Details</a>
            </div>
        </li>






        <li class="sidebar-list-item dropdown">
            <span class="dropdown-title">
                <span class="material-icons-outlined">location_on</span> Address 
                <span class="material-icons-outlined">expand_more</span>
            </span>
            <div class="dropdown-content">
              
                <a href="{% url 'district' %}">Add District</a>
                <a href="{% url 'upazilla' %}">Add Upazilla</a>
                <a href="{% url 'union' %}">Add Union</a>
            </div>
        </li>
        
        <li class="sidebar-list-item dropdown">
            <span class="dropdown-title">
                <span class="material-icons-outlined">person</span> Student 
                <span class="material-icons-outlined">expand_more</span>
            </span>
            <div class="dropdown-content">
                <a href="{% url 'student-registration' %}" target="_blank">Student Registration</a>
                <a href="{% url 'student-list' %}" target="_blank">Student List</a>
                <a href="{% url 'student-search' %}" target="_blank">Search Student</a>
                <a href="{% url 'enrolled-student' %}" target="_blank">Enrolled Student</a>
                <a href="{% url 'enrolled-student-list' %}" target="_blank">Enrolled Student List</a>
            </div>
        </li>
                    <li class="sidebar-list-item">
                      <a href="#" target="_blank">
                      <span class="material-icons-outlined">campaign</span> Activities
                      </a>
                    </li>
                    <li class="sidebar-list-item">
                      <a href="#" target="_blank">
                        <span class="material-icons-outlined">fact_check</span> Circulars 
                      </a>
                    </li>
                    <li class="sidebar-list-item">
                      <a href="#" target="_blank">
                        <span class="material-icons-outlined">poll</span> Reports
                      </a>
                    </li>
                    <li class="sidebar-list-item">
                      <a href="#" target="_blank">
                        <span class="material-icons-outlined">settings</span> Settings
                      </a>
                    </li>
                </ul>
  </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>DASHBOARD</h2>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <h3>STUDENTS</h3>
              <span class="material-icons-outlined">inventory_2</span>
            </div>
            <h1>249</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>TEACHERS</h3>
              <span class="material-icons-outlined">category</span>
            </div>
            <h1>25</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>ACTIVITIES</h3>
               <span class="material-icons-outlined">campaign</span> 
            </div>
            <h1>1500</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>ALERTS</h3>
              <span class="material-icons-outlined">notification_important</span>
            </div>
            <h1>56</h1>
          </div>

        </div>

        <div class="charts">

          <div class="charts-card">
            <h2 class="chart-title">Top 5 Products</h2>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <h2 class="chart-title">Purchase and Sales Orders</h2>
            <div id="area-chart"></div>
          </div>

        </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/scripts.js' %} "></script>
  </body>
</html>